<table id="example" class="table is-striped" style="width:100%">
    <thead>
        <tr>
            <th>Factura</th>
            <th>Fecha</th>
            <th>Moneda</th>
            <th>Saldo</th>
            <th>Motivo</th>
            <th>Dias</th>
            <!-- <th>Documento</th> -->
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th>Factura</th>
            <th>Fecha</th>
            <th>Moneda</th>
            <th>Saldo</th>
            <th>Motivo</th>
            <th>Dias</th>
            <!-- <th>Documento</th> -->
        </tr>
    </tfoot>
</table>